<div class="roundedContainer editorBox col-xs-12">
	<div class="row graph_header">
	    <div class="col-xs-12">
	        <h4>{{ title }}</h4>
	    </div>
	</div>
	<div class="row" style="margin:10px; height:65%;">
		<textarea style="height:100%; width:100%; resize: none;" name="clickFunction"></textarea>
	</div>
	<div class="row" style="margin: 10px;">
    <button type="button" class="btn btn-default confUpdate">Update Config</button>
    <button type="button" class="btn btn-default clear">Clean</button>
    </div>
</div>